# Python/Django
*.pyc
__pycache__/
*.sqlite3
db.sqlite3

# Configuração do ambiente virtual
venv/
.env

# Arquivos estáticos e de mídia gerados
/banco_de_dados/staticfiles/
/banco_de_dados/media/
/banco_de_dados/static/imagens

# Logs e arquivos temporários
*.log
*.pot
*.py~
*.swp
*.swo
*.bak

# Configurações específicas do sistema operacional
.DS_Store
Thumbs.db

# Arquivos do editor de texto/IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
